body
{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: Myriad Pro
}

#gameH
{
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100.0vw;
	height: 100.0vh;
}

#gameCan
{
	position: absolute;
	left: 0px;
	top: 0px;

	/*width: 100vw;
	height: 100vh;*/
}

#scn
{
	position: absolute;
	left: 20vw;
	top: 0;

	height: 100vh;
}

#cInfo
{
	position: absolute;

	background-color: #EB9100;

	right: 0;
	bottom: 0;

	width: 20vw;
	height: 25vh;

	color: white;
	font-size: 3vh;
}

#cInfo p
{
	cursor: default;

	padding-left: 4%;
	line-height: 2vh;
}

#plusB
{
	left: 0;
	top: 0;
}

#chB
{
	bottom:0; 
	right:0;

	background-image: url('images/buttons/ChB.svg');
}

.actionB
{
	position: absolute;
	/*top: 0px;*/
	/*left: 0px;*/

	/*width: 10%;*/
	width: 10vh;
	height: 10vh;

	background-image: url('images/buttons/PlusB.svg');
	background-color: #009933;

	border: 0;

	cursor: pointer;
}

.actionB:hover
{
	background-color: #59cd87;
	/*background: url('Assets/bSheet.png') 0 -64px;*/
}

.actionB:active
{
	background-color: #5fac7d;
	/*background: url('Assets/bSheet.png') 0 -128px;*/
}

/*Action Manu*/
#aMenu
{
	position: absolute;;

	/*top: 20%;*/
	top: 20.0vh;
	left: 0;

	background-color: #EB9100;

	/*width: 15%;*/
	/*height: 60%;*/

	width: 15.0vw;
	height: 60.0vh;

	overflow: hidden;
}

/* aMenu Container */
.aMenuC
{
	position: absolute;

	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

.aMenuCI
{
	position: absolute;

	top: 5vh;
	left: 0;

	width: 100%;
	height: 55vh;

	overflow-x: hidden;
	overflow-y: scroll;
}

/* Action Menu Button Class */
.aMenuB
{
	/*position: absolute;*/
	/*left: 0px;*/

	width: 100%;
	height: 5.0vh;

	cursor: default;

	border-bottom: 2px solid white;

	transition: background-color 0.2s;
}

.aMenuB span
{
	color: white;
	margin-left: 2%;

	font-size: 2.5vh;
	line-height: 5.0vh;
}

.aMenuBA:hover
{
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}

.aMenuBA:active
{
	background-color: rgba(255,255,255,0.3);
	cursor: pointer;
}

.aMenuNxt
{
	position: absolute;
	left: 0;

	border: 0;
	border-top: 2px solid white;

	bottom: 0;
}

.aMenuD /*Disabled button*/
{
	background-color: #ff0000;	
}

/* Name Input */

#prepodInp
{
	-webkit-appearance: none;
	border: none;
	border-bottom: 2px dashed white;

	position: absolute;
	top: 0;
	left: 0;

	/*width: 97%;*/
	width: 15vw;
	/*height: 10%;*/
	height: 5.0vh;

	font-family: Myriad Pro;
	font-weight: bold;
	font-size: 2.5vh;

	line-height: 5.0vh;

	color: white;

	padding: 0;
	padding-left: 2%;

	background-color: #EB9100;
}

#prepodInp:focus
{
	outline: none;
}

#chgH
{
	font-family: Myriad Pro;
	color: white;

	margin-top: 2%;
	margin-left: 2%;	
}

/*Menu Image*/
.mImg
{
	/*height: 20%;*/
	width: 6vw;
	height: 6vw;

    position: absolute;
    /*left: 5%;*/
    /*top: 15%;*/
    top: 6vh;

    border: 2px solid white;
}

.mImg:hover
{
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}

.mImg:active
{
	background-color: rgba(255,255,255,0.3);
	cursor: pointer;
}

/*Slider*/
.sld
{
	-webkit-appearance: none;

	margin: 0;

	position: absolute;
	left: 5%;
	top: 12vh;

	width: 90%;
}

.sld::-webkit-slider-runnable-track
{
	background: #ffffff;
	height: 1.0vh;
	border: none;
}

.sld::-webkit-slider-thumb
{
	-webkit-appearance: none;
	border: none;

	background: #009933;

	width: 2.0vh;
	height: 4.0vh;

	margin-top: -1.2vh;
}

.sld:focus
{
	outline: none;
}

.labl
{
	cursor: default;

	position: absolute;
	left: 0;

	color: white;
	margin-left: 4%;

	font-size: 2.5vh;
}

.prBar
{
	-webkit-appearance: none;

	width: 90%;
	height: 4.0vh;

	position: absolute;
	left: 5%;
	bottom: 1vh;
}

.prBar::-webkit-progress-bar
{
	background-color: #DE8900;

	border-radius: 10px;
}

.prBar::-webkit-progress-value
{
	-webkit-appearance: none;

	background-color: #00822B;
	border-radius: 10px;
}


